body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.8)), url("https://burst.shopifycdn.com/photos/paws-of-a-puppy-from-above.jpg?width=1850&format=pjpg&exif=1&iptc=1") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
